<div class="policies">
  <div class="policies__made-by">
    <span>Made by OPC team with</span>
    <img src="/static/img/general/footer-heart.png" alt="">
  </div>
  <div class="policies__privacy">
    <a class="policies__privacy-item" href="https://coron.su/docs/website-terms-of-use/" target="_blank" rel="noreferrer noopener">
      Пользовательское соглашение
    </a>
    |
    <a class="policies__privacy-item" href="https://coron.su/docs/privacy-policy/" target="_blank" rel="noreferrer noopener">
      Политика конфиденциальности
    </a>
  </div>
</div>