<a class="read-more" href="{{ item.href }}">
  <span class="read-more__text">Узнать больше</span>
  <svg
    class="read-more__icon"
    width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M1 1L7 7L1 13" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</a>

{#
<a class="slider__blocks-item__text__read-more" href="{{ item.href }}">
  <span class="slider__blocks-item__text__read-more__text">Узнать больше</span>
  <svg
    class="slider__blocks-item__text__read-more__icon"
    width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M1 1L7 7L1 13" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</a>
#}
