.about-author {
  position: relative;
}

.about-highlight {
  color: $main-blue-color;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;

  @include lg {
    font-size: 18px;
  }
}

.about-author--study-page {
  padding: 0;
}

.about-author--main-page {
  // position: relative;
  // &::before {
  //   @include before;
  //   background: $main-bg;
  //   z-index: -1;
  // }
}

.about-author__card {
  position: relative;
  padding: 35px 0 60px;
  // @include xl {
  //   padding: 60px;
  // }
  @include lg {
    padding: 35px 0 0;
  }
  @include md {
    text-align: center;
  }
  // @include lg {
  //   padding: 60px 100px 60px 60px;
  // }
  // @include xs {
  //   padding: 50px 15px;
  // }
}

.about-author__card__author {

  text-transform: lowercase;

}

.about-author__card__name {
  @extend %title-great;
  margin-bottom: 30px;
  @include sm {
    font-size: 24px;
  }
}

.about-author__card__row {
  // @extend %flex;
  display: flex;
  // align-items: flex-end;
  justify-content: space-between;
  margin-top: 30px;
  @include md {
    flex-direction: column;
    align-items: flex-start;
  }
  @include sm {
    margin-bottom: 35px;
  }
}

.about-author__card__row__col {
  @extend %col-2;
  position: relative;
  &.left {
    max-width: 515px;
    @include md {
      margin: auto;
    }
    // @include lg {
    //   max-width: none;
    //   width: 86%;
    //   margin-top: 60px;
    // }
    // @include sm {
    //   margin-top: 40px;
    //   width: auto;
    // }
  }
  &.right {
    padding-top: 48px;
    @include lg {
      padding-left: 50px;
      align-self: center;
      text-align: center;
    }
    @include md {
      padding: 40px 20px 0;
    }
  }
}
.about-author__card-items__wrapper {
  display: flex;
  margin-bottom: 80px;
  @include lg {
    text-align: left;
  }
  @include sm {
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
}
.about-author__card-items {
  @extend %flex-col;
  @extend %col-2;
  &:first-child {
    padding-right: 50px;
    @include sm {
      padding-right: 0;
      margin-bottom: 25px;
    }
  }
}
.about-author__card-item {
  // @extend %flex-center;
  &:not(:last-child) {
    margin-bottom: 40px;
    @include sm {
      margin-bottom: 25px;
    }
  }
}

.about-author__card-item__img-wrap {
  @extend %flex-center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 35px;
  background: #FFFFFF;
  border-radius: 10px;
  @include sm {
    margin-right: 15px;
  }
  img {
    width: 30px;
  }
}

.about-author__card-item__text {
  font-size: 18px;
  font-weight: 500;
  @include md {
    width: calc(100% - 120px);
  }
  @include sm {
    width: calc(100% - 65px);
  }
}

.author-img-wrap {
  position: relative;
  z-index: 1;
  width: 484px;
  height: calc(484px + 50px);
  background-image: url('../img/general/author-new.png');
  background-repeat: no-repeat;
  background-size: contain;

  // @include xxl {
  //   width: 462px;
  //   height: 462px;
  // }
  // @include xl {
  //   width: 400px;
  //   height: calc(400px + 50px);
  //   // background-size: cover;
  // }
  @include lg {
    width: 220px;
    height: calc(220px + 30px);;
  }
  // @include sm {
  //   width: 154px;
  //   height: 154px;
  // }
}


.about-author__btn {
  @extend %btn-link;
  @extend %btn-lg;
  @extend %btn-cyan;
  margin-left: 60px;
  min-width: 380px;
  text-align: center;
  @include lg {
    margin-left: 0;
  }
  @include sm {
    min-width: unset;
    max-width: 385px;
    margin: auto;
  }
  @include xs {
    max-width: unset;
    width: 100%;
  }
}
