.policies {
  @extend %c-container-fluid;
  @extend %flex-center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #000;
  color: #fff;
}

.policies__made-by {
  @extend %flex-center;
  img {
    margin-left: 5px;
  }
}

.policies__privacy {
  @include sm {
    display: none;
  }
}

.policies__privacy-item {
  @extend %default-style;
}