{% extends "../layouts/default.twig" %}


{% block content %}
  <section class="about-frank">
    <div class="about-frank__card__row">
      <div class="about-frank__card__row__col left">
        <div class="title">О Фрэнке Пьюселике</div>
        <div class="about-frank__desctiption">Всемирно известный семейный психотерапевт, один из трех создателей НЛП, впервые и эксклюзивно онлайн для Вас на платформе One Planet Club</div>
        <a class="about-frank__btn" href="#">Обучаться 7 дней бесплатно</a>
      </div>
      <div class="about-frank__card__row__col">
        <div class="frank-img-wrap"></div>
        <div class="frank-additional-circle"></div>
      </div>
    </div>
    <div class="about-frank__additional-plus-orange js-rotate"></div>
    <div class="about-frank__additional-plus-green js-rotate"></div>
    <div class="about-frank__additional-plus-blue js-rotate"></div>
    <div class="about-frank__additional-circle-green"></div>
  </section>

  <section class="about-video">
    <div class="about-video__row">
      <div class="about-video__col">
        <div class="about-video__img-wrap">
          <img src="/static/img/general/desktop-video.png" alt="">
          <div class="about-video__frame-wrap">
            <iframe
              class="about-video__frame"
              src="https://player.vimeo.com/video/468581776"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
{#
        <div class="about-video__img-wrap">
          <img src="/static/img/general/desktop-video.png" alt="">
          <iframe
            class="about-video__frame"
            src="https://player.vimeo.com/video/468581776"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
#}
      </div>
      <div class="about-video__col right">
        <div class="title about-video__title">Создатель <span class="color-green">НЛП</span></div>
        <div class="about-video__description">“Наука о мастерстве” - система из 50+ психологических навыков, созданная в 1970-х годах и получившая всемирное распространение. Один из трех основателей НЛП Фрэнк Пьюселик рассказывает первого лица историю и причины создания системы.</div>
      </div>
    </div>
    <div class="about-video__additional-circle-yellow"></div>
    <div class="about-video__additional-plus-blue_1 js-rotate"></div>
    <div class="about-video__additional-plus-blue_2 js-rotate"></div>
    <div class="about-video__additional-circle-blue"></div>
  </section>

  <section class="info">
    <div class="info__card info__card--blue">
      <div class="info__col left">
        <div class="title">Корпоративные клиенты</div>
        <div class="info__description">НЛП навыки оказались широко востребованы бизнесом. <br/>Компания PCG (Pucelik Consulting Group) успешно работает в СНГ с 2002 года.</div>
      </div>
      <div class="info__col">
        <div class="info__img-wrap">
          <img src="/static/img/general/info.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="features-video bg-grey">
    <div class="title">
      Более <span class="color-blue">45 лет</span> опыта
      <img src="/static/img/general/icon-books.png" alt="">
    </div>
    <div class="features-video__description">Психотерапевт со стажем 45+ лет, профессор университета в Калифорнии</div>
    <div class="features-video__row">
      <div class="features-video__col left">
        <div class="features-video__frame-wrap">
          <iframe
            class="features-video__frame"
            src="https://player.vimeo.com/video/468581776"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="features-video__col right">
        <div class="features-video__img-wrap">
          <img class="features-video__img" src="/static/img/general/big-thumbls-up.png" alt="">
        </div>
        <div class="features-video__additional-circle"></div>
      </div>
    </div>
    <div class="features-video__additional-circle-blue_1"></div>
    <div class="features-video__additional-plus-blue_1 js-rotate"></div>
    <div class="features-video__additional-plus-blue_2 js-rotate"></div>
    <div class="features-video__additional-circle-blue_2"></div>
    <div class="features-video__additional-circle-pink"></div>
  </section>

  <section class="info-video">
    <div class="title">
      <img src="/static/img/general/icon-order.png" alt="">
      <span class="color-green">Ветеран</span> боевых действий
    </div>
    <div class="info-video__description">Провел год во Вьетнаме. С 1970-х работал с ветеранами боевых действий 7 войн, с 2014 года бесплатно обучил более 8000 психологов работе с ветеранами.</div>
    <div class="info-video__video-wrap">
      <img src="/static/img/general/laptop-video.png" alt="">
      <div class="info-video__video-frame-wrap">
        <iframe
          class="info-video__video-frame"
          src="https://player.vimeo.com/video/468581776"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
{#
    <div class="info-video__video-wrap">
      <img src="/static/img/general/laptop-video.png" alt="">
      <iframe
        class="info-video__video-frame"
        src="https://player.vimeo.com/video/468581776"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
#}
    <div class="info-video__additional-circle-blue"></div>
    <div class="info-video__additional-plus-blue js-rotate"></div>
    <div class="info-video__additional-circle-yellow"></div>
    <div class="info-video__additional-circle-green"></div>
    <div class="info-video__additional-plus-orange js-rotate"></div>
  </section>

  <section class="info">
    <div class="info__card info__card--orange">
      <div class="info__col left_third">
        <div class="title"><span class="color-orange">Основатель</span> сети центров реабилитации для наркозависимой молодежи</div>
        <div class="info__description">Методика была признана одной из самых эффективных в США, а затем в 2010 году один из центров, в основании которых участвовал Фрэнк, получил награду Государственной Думы РФ.</div>
      </div>
      <div class="info__col">
        <div class="info__img-wrap">
          <img src="/static/img/general/addresses.svg" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="features-video bg-grey">
    <div class="title">
      Знает наш <span class="color-blue">менталитет</span>
      <img src="/static/img/general/icon-brain.png" alt="">
    </div>
    <div class="features-video__description">Уже несколько десятилей Фрэнк живет и работает на просторах СНГ. Посмотрите короткий ролик и узнайте больше фактов из жизни основателя НЛП.</div>
    <div class="features-video__row">
      <div class="features-video__col left">
        <div class="features-video__frame-wrap">
          <iframe
            class="features-video__frame"
            src="https://player.vimeo.com/video/468581776"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="features-video__col right">
        <div class="features-video__img-wrap">
          <img class="features-video__img_sec" src="/static/img/general/hand-ok.png" alt="">
        </div>
        <div class="features-video__additional-circle"></div>
      </div>
    </div>
    <div class="features-video_sec__additional-plus-blue_1 js-rotate"></div>
    <div class="features-video_sec__additional-circle-yellow"></div>
    <div class="features-video_sec__additional-plus-blue_2 js-rotate"></div>
  </section>

  <section class="info info--offset">
    <div class="info__card info__card_third info__card--blue">
      <div class="info__col left_sec">
        <div class="info__img-wrap">
          <img src="/static/img/general/frank-speaker.png" alt="">
        </div>
        <div class="info__place">Москва, Россия</div>
        <div class="info__year">2007</div>
      </div>
      <div class="info__col right_sec">
        <div class="title">Впервые полноценно <span class="color-green">онлайн</span></div>
        <div class="info__description">С 1970-х годов Фрэнк ведет очные офлайн программы премиального уровня. Сейчас Вам доступно обучение у живой легенды, одного из трех основателей НЛП.</div>
        <a class="info__btn" href="#">Подробнее о курсах</a>
      </div>
      <div class="info__additional-circle-blue"></div>
      <div class="info__additional-circle-pink"></div>
      <div class="info__additional-circle-yellow"></div>
    </div>
  </section>

  <section class="who-needs">
    <div class="title">
      <img src="/static/img/general/icon-think.png" alt="">
      Кому и чем <span class="color-green">полезно</span> НЛП?
    </div>
    <div class="who-needs__description">Система, которая приближает счастье и успех</div>
    <div class="who-needs__btns">
      <button class="who-needs__btn js-btn active" data-target="#row-1">Сферы жизни, где будете применять</button>
      <button class="who-needs__btn js-btn" data-target="#row-2">Для каких целей отлично подойдет</button>
    </div>
    {# ROW 1 #}
    <div class="who-needs__row js-content" id="row-1">
      <div class="who-needs__row-inner">
        <div class="who-needs__item">
          <img class="who-needs__item__img" src="/static/img/general/icon-give-five.png" alt="">
          <div class="who-needs__item__title">Для себя</div>
          <div class="who-needs__item__description">внутренний комфорт, спокойствие и уверенность</div>
        </div>
        <div class="who-needs__item">
          <img class="who-needs__item__img" src="/static/img/general/icon-case.png" alt="">
          <div class="who-needs__item__title">Карьера и бизнес</div>
          <div class="who-needs__item__description">пройти собеседование или провести его, правильно нанять или уволить, выстроить отношения с коллегами и партнерами</div>
        </div>
        <div class="who-needs__item">
          <img class="who-needs__item__img" src="/static/img/general/icon-family.png" alt="">
          <div class="who-needs__item__title">Семья</div>
          <div class="who-needs__item__description">помочь ребенку в развитии и наладить отношения в паре</div>
        </div>
      </div>
    </div>
    {# ROW 2 #}
    <div class="who-needs__row js-content" id="row-2" style="display: none;">
      <div class="who-needs__row-inner">
        <div class="who-needs__item">
          <img class="who-needs__item__img" src="/static/img/general/icon-family.png" alt="">
          <div class="who-needs__item__title">Семья</div>
          <div>помочь ребенку в развитии и наладить отношения в паре</div>
        </div>
        <div class="who-needs__item">
          <img class="who-needs__item__img" src="/static/img/general/icon-give-five.png" alt="">
          <div class="who-needs__item__title">Для себя</div>
          <div>внутренний комфорт, спокойствие и уверенность</div>
        </div>
        <div class="who-needs__item">
          <img class="who-needs__item__img" src="/static/img/general/icon-case.png" alt="">
          <div class="who-needs__item__title">Карьера и бизнес</div>
          <div>пройти собеседование или провести его, правильно нанять или уволить, выстроить отношения с коллегами и партнерами</div>
        </div>
      </div>
    </div>
    <div class="who-needs__additional-triangle-pink"></div>
    <div class="who-needs__additional-plus-green js-rotate"></div>
  </section>

  {% include "../partials/form.twig" with {color: 'blue', title_text: 'Начать учиться'} %}

{% endblock %}
