/* ========================= ABOUT FRANK ============================= */

.about-frank__header {
    background: url('/static/img/general/about-bg.jpg') no-repeat center top;
    background-size: cover;
    color: white;
    padding-top: 40px;
    margin-top: 113px;
    min-height: 47.64vw;
    text-align: center;
    position: relative;
    margin-bottom: calc(7.5vw + 45px);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color: $main-font-color, $alpha: .48);
        z-index: 1;
    }

    h2 {
        font-size: 36px;
        font-weight: 500;
        margin: .5em 0 0;
    }

    &-inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
        max-width: 1024px;
        margin: 0 auto;
    }

    &-pic {
        width: 37.36vw;
        position: absolute;
        bottom: 0;
        z-index: 2;
        left: 50%;
        transform: translate(-50%, 20.07%);

        img {
            width: 100%;
        }
    }

    @include lg {
        min-height: 700px;

        &-pic {
            width: 538px;
        }
    }

    @include sm {
        margin-top: 90px;
        min-height: 450px;

        h2 {
            font-size: 24px;
        }

        &-pic {
            width: 300px;
        }
    }

    @include xxs {
        min-height: 380px;

        h2 {
            font-size: 18px;
        }

        &-pic {
            width: 250px;
        }
    }
}

.about-frank__descr {
    display: flex;
    justify-content: space-between;

    &--col {
        width: 33%;
        max-width: 333px;
        position: relative;

        &:nth-child(2) {
            max-width: 358px;
        }
    }

    &--item {
        padding: 22px 0;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            max-width: 153px;
            background-color: black;
            bottom: 0;
            left: 0;
            right: 0;
        }
        &:last-child::after {
            display: none;
        }
    }

    &--icon {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }

    @include md {
        &--col {
            font-size: 16px;
            max-width: 28%;
        }
    }
    @include xs {
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        justify-content: center;
        &--col {
            max-width: 280px;
            width: 100%;
        }
        &--icon {
            display: none;
        }
        &--item {    
            &::after {
                left: 50%;
                transform: translateX(-50%);
            }
            &:last-child::after {
                display: block;
            }
        }
    }
    // @include xxs {
    //     justify-content: center;
    //     &--col {
    //         max-width: unset;
    //         width: 100%;
    //     }
    // }
}

.col-3 {
    .about-frank__descr--item {
        &:nth-child(2) {
            padding-bottom: 0;
            &::after {
                display: none;
            }
        }
    }
}

.about-frank__subtitle {
    border: 1px solid $main-font-color;
    text-align: center;
    padding: 30px 50px;
    font-size: 24px;

    h3 {
        margin: 0 auto;
        max-width: 800px;
    }
    @include sm {
        font-size: 18px;
        padding: 30px;
    }
}

.about-frank__bio {
    h3 {
        @extend %title-great;
        margin: 15px 0 .8em;
    }

    h4 {
        font-size: 36px;
        color: $main-blue-color;
        margin: 0 0 .833em;
        @include sm {
            font-size: 24px;
        }
    }

    article {

        &:not(:last-child){
            margin-bottom: 50px;
            @include sm {
                margin-bottom: 30px;
            }
        }

        &.biography-block {
            font-weight: 300;

            &::before {
                content: '';
                display: block;
                width: 27px;
                height: 37px;
                background: url('/static/img/general/bio-doc.svg') no-repeat;
                background-size: contain;
            }
        }
    }
}

.article-images {
    margin-top: 20px;
    margin-bottom: 5vw;
}

.about-frank__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;

    @include sm {
        border-radius: 31px
    }
}

.about-frank__frame-wrap {
    position: relative;
    width: 100%;
    height: 0;
    margin-bottom: 45px;
    padding-bottom: 56.25%;
}

.about-frank__text-highlight {
    font-size: 24px;
    margin-bottom: 60px;
    @include sm {
        font-size: 18px;
    }
    
}

.about-frank__join {
    font-size: 24px;
    text-align: center;

    h3 {
        margin-top: 0;
    }

    &--btn {
        @extend %btn;
        @extend %btn-link;
        @extend %btn-md;
        @extend %btn-green;
        @extend %btn-yellow-shadowed;
        margin-top: 5.69vw;
    }
    @include sm {
        font-size: 18px;
    }
}

.about-frank__pic-float {
    float: right;
    margin-left: 10px;
    @include md {
        max-width: 40%;
    }
    @include xs {
        float: unset;
        margin: 0 auto 20px;
    }
}