/* ========================= ABOUT FRANK ============================= */

.about-frank {
  position: relative;
  padding-top: #{140 + 55}px;
  overflow-x: hidden;
  @include lg {
    padding-top: 305px;
  }
  @include sm {
    padding-top: 100px;
  }
  &:before {
    content: '';
    position: absolute;
    top: -110px;
    left: -120px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #E4F4F0;
    @include xxl {
      top: -160px;
      left: -160px;
    }
    @include lg {
      width: 280px;
      height: 280px;
      top: -85px;
      left: -110px;
    }
    @include sm {
      content: none;
    }
  }
}
.about-frank__card__row {
  @extend %flex-center;
  justify-content: space-between;
  margin-bottom: 60px;
  @include sm {
    flex-direction: column-reverse;
  }
}

.about-frank__card__row__col {
  @extend %col-2;
  position: relative;
  &.left {
    max-width: 470px;
    @include lg {
      max-width: 410px;
    }
    @include sm {
      max-width: none;
      margin-top: 40px;
    }
  }
}

.about-frank__desctiption {
  margin-top: 30px;
  margin-bottom: 50px;
  color: #313131;
}

.about-frank__card-item__img-wrap {
  @extend %flex-center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 35px;
  background: #FFFFFF;
  border-radius: 10px;
}

.about-frank__card-item__text {
  width: calc(100% - 85px);
}

.frank-img-wrap {
  position: relative;
  z-index: 1;
  width: 500px;
  height: 500px;
  margin-left: auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: #E4F4F0;
  background-image: url('../img/general/author.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  @include xxl {
    width: 462px;
    height: 462px;
  }
  @include lg {
    width: 219px;
    height: 219px;
  }
  @include sm {
    width: 165px;
    height: 165px;
  }
}

.frank-additional-circle {
  position: absolute;
  top: 17px;
  right: 22px;
  width: 510px;
  height: 510px;
  border-radius: 50%;
  border: 2px solid #31AC89;
  @include xxl {
    top: 30px;
    width: 450px;
    height: 450px;
  }
  @include lg {
    top: 0;
    right: 10px;
    width: 223px;
    height: 223px;
  }
  @include sm {
    width: 168px;
    height: 168px;
  }
}

.about-frank__btn {
  @extend %btn-link;
  @extend %btn-md;
  @extend %btn-primary;
}


.about-frank__additional-plus-orange {
  @extend %additional-plus-orange;
  top: 210px;
  left: calc(#{$container-offset} + 505px);
  @include sm {
    top: 135px;
    left: 40px;
  }
}

.about-frank__additional-plus-green {
  @extend %additional-plus-green;
  bottom: 210px;
  left: calc(#{$container-offset} + 630px);
  @include sm {
    bottom: 60px;
    left: unset;
    right: 60px;
  }
}

.about-frank__additional-plus-blue {
  @extend %additional-plus-blue;
  top: 380px;
  right: calc(#{$container-offset} - 65px);
  @include lg {
    display: none;
  }
}

.about-frank__additional-circle-green {
  @include additional-circle(60, #31AC89);
  top: 141px;
  right: -22px;
  @include lg {
    right: -7px;
    width: 25px;
    height: 25px;
  }
  @include sm {
    top: 240px;
  }
}



/* ========================= ABOUT VIDEO ============================= */

.about-video {
  overflow-x: hidden;
}

.about-video__row {
  @extend %flex;
  justify-content: space-between;
  @include lg {
    flex-direction: column;
    align-items: center;
  }
}

.about-video__col {
  @extend %col-2;
  &.right {
    padding-top: 145px;
    max-width: 435px;
    @include lg {
      align-self: flex-start;
    }
    @include sm {
      padding-top: 65px;
    }
  }
}

.about-video__title {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -123px;
    right: -10px;
    width: 148px;
    height: 118px;
    background-image: url('../img/general/arrow-for-btn.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(150deg);
    @include lg {
      right: -355px;
    }
    @include md {
      right: -200px;
    }
    @include sm {
      //right: 0;
      //transform: rotate(150deg) scale(0.5);
      //transform-origin: bottom right;
      right: -70px;
      transform: rotate(150deg) scale(0.5) translateX(-100%);
      transform-origin: bottom left;
      /* bottom: -64px; */
      top: unset;
      bottom: 65px;
    }
  }
}

.about-video__img-wrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
  @include lg {
    max-width: 480px;
  }
  @include sm {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.about-video__frame-wrap {
  position: absolute;
  top: 3%;
  right: 2.6%;
  //left: 6.2%;
  left: 12%;
  bottom: 33.2%;
  background-color: #000;
  border-radius: 20px;
  @include xs {
    border-radius: 10px;
  }
  @include xxl {
    left: 3%;
  }
}

.about-video__frame {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 20px;
  @include xs {
    border-radius: 10px;
  }
}

/*
.about-video__img-wrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 45px;
}

.about-video__frame {
  position: absolute;
  top: 21px;
  right: 20px;
  width: 627px;
  height: 402px;
  border-radius: 20px;
}
*/

.about-video__description {
  margin-top: 40px;
  color: #313131;
}

.about-video__additional-circle-yellow {
  @include additional-circle(38, #FCD14E);
  top: -60px;
  left: 40px;
}

.about-video__additional-plus-blue_1 {
  @extend %additional-plus-blue;
  top: 0;
  right: calc(#{$container-offset} + 490px);
  @include lg {
    top: 170px;
    right: calc(#{$container-offset-xl} + 10px);
  }
  @include sm {
    display: none;
  }
}

.about-video__additional-plus-blue_2 {
  @extend %additional-plus-blue;
  bottom: 380px;
  right: calc(#{$container-offset} - 16px);
  @include xxl {
    right: $container-offset-xxl;
  }
}

.about-video__additional-circle-blue {
  @include additional-circle(85, #E4F4F0);
  bottom: 215px;
  right: calc(#{$container-offset} + 400px);
  @include lg {
    display: none;
  }
}



/* ========================= FEATURES ============================= */

.features-video {
  padding-top: 110px;
  overflow: hidden;
  @include sm {
    padding-top: 55px;
  }
}

.features-video__description {
  margin-top: 25px;
  max-width: 450px;
  color: #313131;
}

.features-video__row {
  @extend %flex;
  justify-content: space-between;
  margin-top: 50px;
  @include lg {
    flex-direction: column;
  }
}

.features-video__col {
  @extend %col-2;
  position: relative;
  &.left {
    @include lg {
      width: 100%;
    }
  }
  &.right {
    width: auto;
    @include lg {
      margin-top: 110px;
      align-self: center;
    }
    @include sm {
      margin-top: 60px;
    }
    //max-width: 540px;
    //@include xl {
    //  max-width: 500px;
    //}
    //@include lg {
    //  margin-top: 110px;
    //  align-self: center;
    //}
  }
}

.features-video__frame-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  max-width: 730px;
  @include xxl {
    max-width: 615px;
  }
  @include lg {
    max-width: none;
  }
}

.features-video__frame {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  //width: 730px;
  //height: 440px;
  //border-radius: 10px;
}

/*
.features-video__img-wrap {
  position: relative;
  z-index: 1;
  width: 505px;
  height: 425px;
  margin-top: 75px;
  margin-left: 105px;
  @include md {
    margin-top: 20px;
    margin-left: 165px;
  }
  @include sm {
    margin-left: 200px;
  }
}

.features-video__img-wrap_sec {
  position: relative;
  z-index: 1;
  width: 505px;
  height: 425px;
  margin-top: 10px;
  margin-left: 125px;
}

.features-video__img {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.8);
  transform-origin: top left;
  @include xxl {
    transform: scale(1.3);
  }
  @include lg {
    transform: scale(1.6);
  }
  @include md {
    transform: scale(1);
  }
  @include sm {
    transform: scale(0.7);
  }
}

.features-video__img_sec {
  position: absolute;
  top: 0;
  left: 0;
}
*/

/*
.features-video__additional-circle {
  @extend %additional-circle;
  z-index: 0;
  @include md {
    left: 50%;
    transform: translateX(-50%);
  }
}
*/


.features-video__img-wrap {
  position: absolute;
  top: 35px;
  left: 80px;
  z-index: 1;
  @include xxl {
    top: 65px;
  }
  @include md {
    top: 30px;
    left: 50px;
  }
  @include sm {
    top: 10px;
    left: 25px;
  }
}

.features-video__img {
  transform: scale(2.5);
  //transform: scale(1.8);
  transform-origin: top left;
  @include xxl {
    transform: scale(2);
  }
  @include lg {
    transform: scale(2.5);
  }
  @include md {
    transform: scale(2.8);
  }
}

.features-video__img_sec {
  //transform: scale(2.5);
  transform-origin: top left;
  //@include xxl {
  //  transform: scale(2);
  //}
  //@include lg {
  //  transform: scale(2.5);
  //}
  @include md {
    transform: scale(1.4);
  }
}

.features-video__additional-circle {
  @extend %additional-circle;
  //width: 410px;
  //height: 410px;
  //background-color: #FAB8C4;
  //border-radius: 50%;
  //@include md {
  //  width: 244px;
  //  height: 244px;
  //}
  //@include sm {
  //  width: 150px;
  //  height: 150px;
  //}
}



.features-video__additional-circle-blue_1 {
  @include additional-circle(60, #3B67FF);
  top: 160px;
  left: -30px;
  @include sm {
    display: none;
  }
}

.features-video__additional-plus-blue_1 {
  @extend %additional-plus-blue;
  bottom: 260px;
  left: calc(#{$container-offset} - 150px);
}

.features-video__additional-plus-blue_2 {
  @extend %additional-plus-blue;
  top: 125px;
  left: calc(50% + 15px);
  @include sm {
    top: unset;
    bottom: 155px;
    left: 25px;
  }
}

.features-video__additional-circle-blue_2 {
  @include additional-circle(90, #3B67FF);
  top: 100px;
  right: 15px;
  @include sm {
    width: 32px;
    height: 32px;
    right: -10px;
    bottom: 175px;
    top: unset;
  }
}

.features-video__additional-circle-pink {
  @include additional-circle(24, #FAB8C4);
  bottom: 30px;
  right: calc(#{$container-offset} + 5px);
}

.features-video_sec__additional-plus-blue_1 {
  @extend %additional-plus-blue;
  bottom: 270px;
  left: calc(#{$container-offset} - 130px);
}

.features-video_sec__additional-circle-yellow {
  @include additional-circle(40, #FCD14E);
  top: 50px;
  left: calc(50% + 195px);
  @include lg {
    top: 156px;
    left: unset;
    right: calc(#{$container-offset-xl} + 80px);
    width: 25px;
    height: 25px;
  }
}

.features-video_sec__additional-plus-blue_2 {
  @extend %additional-plus-blue;
  top: 180px;
  right: calc(#{$container-offset} - 60px);
}



/* ========================= INFO VIDEO ============================= */

.info-video {
  @extend %flex-col-center;
  padding-top: 130px;
  overflow-x: hidden;
  @include sm {
    padding-top: 55px;
  }
}

.info-video__description {
  position: relative;
  max-width: 400px;
  margin-top: 30px;
  text-align: center;
  color: #313131;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -140px;
    width: 139px;
    height: 112px;
    background-image: url('../img/general/arrow-for-btn.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(90deg) translateY(-100%);
    @include md {
      right: -40px;
    }
    @include sm {
      right: -100px;
      transform: rotate(90deg) translateY(0) scale(0.8);
    }
  }
}

.info-video__video-wrap {
  position: relative;
  margin-top: 65px;
  max-width: 755px;
  &:before {
    content: '';
    position: absolute;
    top: -75px;
    left: 25px;
    z-index: -1;
    width: 103px;
    height: 122px;
    background-image: url('../img/general/for-video-img-movie.png');
    background-repeat: no-repeat;
    background-size: contain;
    @include xxl {
      width: 80px;
      height: 94px;
    }
    @include sm {
      content: none;
    }
  }
}

.info-video__video-frame-wrap {
  position: absolute;
  top: 4%;
  left: 11.3%;
  right: 11%;
  bottom: 15.4%;
  background-color: #000;
  border-radius: 20px;
  @include sm {
    border-radius: 10px;
  }
}

.info-video__video-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 20px;
  @include sm {
    border-radius: 10px;
  }
}


/*
.info-video__video-wrap {
  position: relative;
  margin-top: 65px;
  &:before {
    content: '';
    position: absolute;
    top: -75px;
    left: 25px;
    z-index: -1;
    width: 103px;
    height: 122px;
    background-image: url('../img/general/for-video-img-movie.png');
  }
}

.info-video__video-frame {
  position: absolute;
  top: 24px;
  left: 102px;
  width: 688px;
  height: 441px;
  border-radius: 20px;
}
*/

.info-video__additional-circle-blue {
  @include additional-circle(229, #E4F4F0);
  top: 80px;
  left: -75px;
  @include lg {
    width: 150px;
    height: 150px;
  }
  @include sm {
    display: none;
  }
}

.info-video__additional-plus-blue {
  @extend %additional-plus-blue;
  top: 490px;
  left: calc(#{$container-offset} - 45px);
}

.info-video__additional-circle-yellow {
  @include additional-circle(38, #FCD14E);
  bottom: 310px;
  left: calc(#{$container-offset} + 180px);
}

.info-video__additional-circle-green {
  @include additional-circle(73, #31AC89);
  top: 425px;
  right: -16px;
  @include sm {
    width: 30px;
    height: 30px;
    right: -10px;
  }
}

.info-video__additional-plus-orange {
  @extend %additional-plus-orange;
  bottom: 340px;
  right: calc(#{$container-offset} + 55px);
  @include xxl {
    right: calc(#{$container-offset-xxl} + 55px);
  }
}


/* ========================= WHO NEEDS ============================= */

.who-needs {
  @extend %flex-col-center;
}

.who-needs__description {
  max-width: 400px;
  margin-top: 30px;
  text-align: center;
  color: #313131;
}

.who-needs__btns {
  @extend %flex;
  margin-top: 60px;
  justify-content: center;
}

.who-needs__btn {
  @extend %btn-button;
  @extend %btn-xs;
  @extend %btn-grey;
  margin-bottom: 20px;
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.who-needs__row {
  width: 100%;
  margin-top: 40px;
}

.who-needs__row-inner {
  @extend %flex;
  justify-content: center;
  //justify-content: space-between;
  //@include xxl {
  //  justify-content: center;
  //}
  @include lg {
    flex-direction: column;
    align-items: center;
  }
}

.who-needs__item {
  @extend %col-3;
  @extend %flex-col-center;
  max-width: 370px;
  padding: 30px;
  background-color: #FAFAFA;
  border-radius: 20px;
  text-align: center;
  margin-left: 28px;
  margin-right: 28px;
  @include xxl {
    margin-left: 10px;
    margin-right: 10px;
  }
  @include xl {
    max-width: 320px;
  }
  @include lg {
    width: 100%;
    max-width: 365px;
    margin-left: 0;
    margin-right: 0;
  }
  &:not(:last-child) {
    @include lg {
      margin-bottom: 25px;
    }
  }
}

.who-needs__item__img {
  align-self: center;
  margin-bottom: 20px;
  width: 35px;
}

.who-needs__item__title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.who-needs__item__description {
  color: #313131;
}

.who-needs__additional-triangle-pink {
  @extend %additional-triangle-pink;
  top: 150px;
  left: calc(#{$container-offset} - 55px);
  @include lg {
    top: 645px;
    left: 40px;
  }
  @include xs {
    display: none;
  }
}

.who-needs__additional-plus-green {
  @extend %additional-plus-green;
  top: 65px;
  right: calc(#{$container-offset} + 125px);
  @include xxl {
    right: calc(#{$container-offset-xxl} + 125px);
  }
  @include lg {
    top: 465px;
    right: calc(#{$container-offset-xl} + 40px);
  }
  @include xs {
    display: none;
  }
}

