.article h1.title {
  font-size: 64px;
  margin-bottom: 88px
}

.article__row {
  justify-content: space-between;

  @include md {
    flex-direction: column;
  }
}

.article__frame-wrap {
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: 37px;
  padding-bottom: 56.25%;

  @include sm {
    margin-bottom: 15px;
  }
}

.article__frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;

  @include sm {
    border-radius: 31px
  }
}

.article__subtitle {
  margin: 30px 0 50px;

  @include sm {
    margin: 30px 0
  }
}

.article__block {
  margin-bottom: 26px;

  h3 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 15px;

    @include sm {
      font-size: 20px
    }
  }
}

.article__pic {
  overflow: hidden;
  margin: 15px 0;
  -webkit-border-radius: 50px;
  border-radius: 50px;

  @include sm {
    border-radius: 31px
  }
}

.article__accent {
  text-decoration: underline;
  color: $main-blue-color
}

.article__infoblock {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  min-height: 99px;
  padding: 17px 35px 17px 100px;
  border-radius: 25px;
  background: url(../img/general/info.svg) no-repeat 23px 50%, linear-gradient(to top, #f4eeea, #f4eeea);
  background-size: 40px 40px;
  align-items: center;

  @include sm {
    font-size: 18px;
    min-height: 70px;
    padding: 17px 20px 17px 50px;
    background-position: 15px 50%;
    background-size: 25px 25px
  }
}

// CHECK & FIX

.article__finally,
.tariffs tbody tr td .modules b,
.tariffs tfoot tr td .modules b,
.tariffs__mobile .modules b {
  font-size: 36px
}

@media all and (max-width: 767px) {
  .article__finally {
    font-size: 24px
  }
}

.article__footer {
  display: flex;
  margin-top: 68px;
  align-items: center;
  justify-content: space-between;

  @include sm {
    flex-wrap: wrap
  }
}

.article__socials {
  display: flex;

  &-item {
    min-width: 38px;

    &:not(:last-child) {
      margin-right: 17px
    }

    @include sm {
      min-width: 35px;

      &:not(:last-child) {
        margin-right: 10px
      }
    }
  }
}

.article__subscription {
  @extend %btn;
  @extend %btn-md;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #c4c4c4;
  border: 3px solid #c4c4c4;

  @include sm {
    min-width: 100%;
    margin-top: 20px;
    order: 5
  }
}

.article__actions {

  &,
  &-item {
    display: flex;
    align-items: center;
  }

  &-item {
    &:not(:last-child) {
      margin-right: 34px;

      @include sm {
        margin-right: 17px;
      }
    }

    &__pic {

      margin-right: 10px
    }
  }
}

.article__likes {
  color: #da4a54;

  img {
    max-width: 47px;

    @include sm {
      max-width: 35px;
    }
  }
}

.article__comments-count {
  color: #c4c4c4;

  img {
    min-width: 41px;
    ;

    @include sm {
      max-width: 35px;
    }
  }
}

.article__comments {
  margin-top: 60px;
  padding-top: 24px;
  border-top: 1px solid #595959;

  &>span {
    display: inline-block;
    margin-bottom: 30px
  }

  @include sm {
    margin-top: 40px
  }
}

.article__comments-item {
  font-size: 14px;
  margin-bottom: 31px;
}

.article__comments-item__user-info,
.article__comments-item__user-pic {
  display: flex;
  align-items: center
}

.article__comments-item__user-pic {
  overflow: hidden;
  max-width: 37px;
  height: 37px;
  margin-right: 12px;
  border-radius: 50%;
  justify-content: center;

  img {
    height: 100%;
    object-fit: cover
  }
}

.article__comments-item__user-pic .article__comments-item__user-name,
.study__items-item__text__name div {
  font-weight: 700
}

.article__comments-btns {
  display: flex;
  justify-content: space-between
}

.article__comments-btn {
  @extend %btn;
  @extend %btn-link;
  @extend %btn-lg;
  font-size: 18px;
  width: 100%;
  max-width: calc(50% - 39px);
  text-align: center;
  border: 3px solid #0073fa;

  @include sm {
    font-size: 16px;
    max-width: calc(50% - 10px)
  }
}

.article__page-promo {
  position: relative;
  padding: 45px 0;

  &::before {
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: #f4eeea
  }
}

.article__page-promo__btn {
  @extend %btn;
  @extend %btn-link;
  @extend %btn-green;
  @extend %btn-yellow-shadowed;
  min-width: 385px;
  margin-top: 45px;
  padding: 17px 7px;
  text-align: center;

  @include xs {
    min-width: 100%
  }
}

.additional-circle__promo {
  position: absolute;
  top: 0;
  right: 0;
  width: 369.12px;
  height: 367.91px;
  transform: translate(26%, 0);
  background: url(../img/general/additional-circle-art.svg) no-repeat;
  background-size: contain;

  @include xxl {
    width: 250px;
    height: 250px;
    transform: translate(26%, -42%)
  }

  @include xs {
    width: 150px;
    height: 150px;
    transform: translate(26%, -60%)
  }
}

.article__page-more-articles {
  margin-bottom: 68px;
  padding-top: 60px;
  text-align: center;

  h3 {
    font-size: 36px;
    margin: 0 0 35px
  }
}

.article__page-more-articles__row {
  display: flex;
  justify-content: space-between;

  @include sm {
    flex-wrap: wrap;
    justify-content: space-around
  }
}

.article__page-more__item {
  width: 100%;
  max-width: calc(33.3333% - 10px);
  padding: 32px 35px 35px;
  color: #595959;
  border-radius: 53px;
  background: #f4eeea;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .05);

  h4 {
    margin-top: 22px;
    margin-bottom: 0
  }

  @include sm {
    max-width: 270px;
    margin-bottom: 20px;
    padding: 17px 17px 25px;
    border-radius: 31px
  }
}

.article__page-more__item-pic {
  overflow: hidden;
  max-height: 226px;
  border-radius: 36px;

  @include sm {
    border-radius: 20px
  }
}

.search-container {
  max-width: 878px;
  margin: 0 auto;
  padding-bottom: 100px;

  h3 {
    font-size: 36px;
    margin: 0 0 20px;
    text-align: center
  }

  @include md {
    display: none
  }
}

// .earnings-promo__row {
//   position: relative;
//   padding-top: 140px;
//   justify-content: space-between
// }