#case2 {

    font-size: 24px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    .lp2_header {
        padding-top: 7.85vw;
        padding-bottom: 5.56vw;
        height: 59vw;
        min-height: 860px;
        text-align: center;
        display: flex;
        justify-content: center;

        background-color: rgb(112, 114, 125);

        &__container {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        h1 {
            color: #595959;
            text-transform: uppercase;
        }

        h2 {
            color: white;
            font-weight: 700;
        }

        @include lg {
            height: auto;
            min-height: 650px;
        }

        @include sm {
            min-height: 550px;
        }

        @include xs {
            padding: 50px 0;
            min-height: 400px;
        }
    }


    .guide-description {
        padding-top: 60px;
        padding-bottom: 90px;
        background-color: $main-font-color;
        color: white;
        text-align: center;

        &__container {
            margin: 0 auto;
            max-width: 1080px;
        }

        &__header {
            // font-size: 36px;
            font-weight: 500;
            margin: 0;
        }

        &__items {
            display: flex;
            justify-content: space-between;

            &.desktop-only {
                @include sm {
                    display: none;
                }
            }

            &.mobile-only {
                display: none;

                @include sm {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 40px;
                }
            }
        }

        &__item {
            white-space: pre-line;
            position: relative;

            &.top-left {
                &::after {
                    content: '';
                    position: absolute;
                    width: 103px;
                    height: 103px;
                    background: url('/static/img/general/lp2-de-1.svg') no-repeat;
                    background-size: contain;
                    top: 0;
                    left: 0;
                    transform: translate(-30%, -70%);
                }
            }

            &.bottom-left {
                margin-top: 70px;
                margin-bottom: 65px;

                &::after {
                    content: '';
                    position: absolute;
                    width: 173px;
                    height: 173px;
                    background: url('/static/img/general/lp2-de-2.svg') no-repeat;
                    background-size: contain;
                    bottom: 0;
                    left: 0;
                    transform: translate(-23%, 46%);
                }
            }

            &.top-right {
                margin-top: 120px;

                &::after {
                    content: '';
                    position: absolute;
                    width: 153px;
                    height: 153px;
                    background: url('/static/img/general/lp2-de-3.svg') no-repeat;
                    background-size: contain;
                    top: 0;
                    right: 0;
                    transform: translate(0%, -45%);
                }
            }

            &.bottom-right {
                margin-top: 80px;

                &::after {
                    content: '';
                    position: absolute;
                    width: 153px;
                    height: 153px;
                    background: url('/static/img/general/lp2-de-4.svg') no-repeat;
                    background-size: contain;
                    bottom: 0;
                    right: 0;
                    transform: translate(30%, 30%);
                }
            }


            .highlight {
                font-size: 1.33em;
                position: relative;
                z-index: 3;
            }
        }
    }

    .just-now {
        @extend %flex-col;
        min-height: 622px;
        background-color: #E2E2E2;
        padding-top: 10px;

        &__container {
            display: flex;
            justify-content: space-between;
            min-height: 100%;

            @include xs {
                flex-direction: row-reverse;
            }

            @media screen and (max-width: 420px) {
                flex-direction: column-reverse;
                align-items: flex-end;
            }

        }

        &__col {
            flex: 0 1 50%;
            min-height: 100%;

            @include md {
                flex: 0 1 auto;
                min-height: unset;
            }
        }

        &__img {
            display: flex;
            align-items: flex-end;

            img {
                width: 100%;
            }

            @include md {
                max-width: 30%;
            }

            @include xs {
                max-width: 50%;
                transform: scale(-1, 1);
            }
        }

        &__text {
            margin-left: 7%;
            padding: 40px 0 60px;
            line-height: 1.2;

            @include md {
                padding: 0;
            }

            @include xs {
                margin-right: 3%;
                margin-left: 0;
            }

            @media screen and (max-width: 420px) {
                margin: 0;
            }
        }

        h3 {
            font-size: 64px;
            margin-bottom: 0.5em;
            font-weight: 800;

            &.mobile-only {
                display: none;

                @include md {
                    display: block;
                }

                @include xs {
                    margin: 0;
                    font-size: 30px;
                }
            }

            &.desktop-only {

                @include md {
                    display: none;
                }
            }
        }

        p {
            margin: 2em 0;

            @include xs {
                margin: 1.5em 0;
            }

            @media screen and (max-width: 420px) {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .highlight {
            font-size: 1.5em;
        }

        @include lg {
            min-height: 43.19vw;

            h3 {
                font-size: 48px;
            }
        }
    }

    .about-frank {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: $main-font-color;
        color: white;

        background: url('/static/img/general/lp2-fr-bg.jpg') no-repeat center center;
        background-size: cover;

        h3,
        h4 {
            text-align: center;
            margin: 0 auto;
        }

        h3 {
            margin-bottom: 10px;
        }

        h4 {
            font-weight: 400;
            max-width: 850px;
        }

        &__row {
            display: flex;
            margin-top: 50px;

            @include xs {
                flex-direction: column-reverse;
                text-align: center;
                align-items: center;
                margin-top: 30px;
            }
        }

        &__col {
            flex: 1 0 50%;

            &.right {
                max-width: 53.22%;
                transform: translate(7.64%, -8%);
                position: relative;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 100%;

                }

                @include xs {
                    transform: translate(10%, 0);

                    img {
                        position: static;
                    }
                }
            }
        }

        p {
            margin: 1.5em 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .whaton {
        background-color: $main-font-color;
        color: white;
        padding-top: 121px;
        position: relative;

        &__additional-circle__left {
            position: absolute;
            bottom: 0;
            left: 0;

            @include xl {
                max-width: 300px;
                transform: translate(-30%, 0);
            }

            @include sm {
                display: none;
            }
        }

        &__additional-circle__right {
            position: absolute;
            bottom: 0;
            right: 0;

            @include xl {
                max-width: 300px;
                transform: translate(30%, 0);
            }

            @include sm {
                display: none;
            }
        }

        &__row {
            @extend %flex;
            justify-content: space-around;
        }

        &__item {
            @extend %flex-col-center;
            width: 100%;
            max-width: 30%;
            text-align: center;
            font-weight: 300;
            margin-bottom: 3.7em;

            &:nth-child(2) {
                max-width: 32.12%;
            }

            &--icon {
                @extend %flex-center;
                min-height: 95px;
                margin-bottom: 1em;
            }

            strong {
                font-weight: 800;
            }

            @include sm {
                margin-bottom: 2em;

                &,
                &:nth-child(2) {
                    max-width: 45%;
                }

                &--icon {
                    min-height: 55px;
                    max-width: 55px;
                }

                strong {
                    display: block;
                }
            }

            @include xxs {

                &,
                &:nth-child(2) {
                    max-width: 80%;
                }

            }
        }

        h3 {
            text-align: center;
            margin-bottom: 2em;

            @include sm {
                margin-bottom: 1em;
            }
        }

        @include md {
            padding-top: 40px;
        }
    }

    .result {
        padding-bottom: 32px;

        h3 {
            text-align: center;
            margin: 1em 0;
        }

        h4 {
            margin-bottom: 1.1em;
            font-weight: 700;

            @include md {
                margin-bottom: 0;
            }
        }

        &__row {
            @extend %flex;
            justify-content: space-between;
            margin-bottom: 53px;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 45.76%;
            border-bottom: 1px solid $main-font-color;
            padding: 20px 0;

            &:nth-child(2),
            &:first-child {
                border-top: 1px solid $main-font-color;
            }

            &--icon {
                width: 100%;
                max-width: 104px;
                margin-left: 19px;
            }

            @include sm {
                &--icon {
                    max-width: 50px;
                    margin-left: 10px;
                }

                &:nth-child(2) {
                    border-top: none;
                }
            }

            @include xs {
                max-width: unset;
            }
        }

        &__reviews {
            margin-top: 78px;

            &--row {
                display: flex;
            }

            &--col {
                flex: 1 0 50%;

                &.left {
                    @extend %flex-col;
                    justify-content: center;
                    padding-right: 3.5em;
                }

                img {
                    width: 100%;
                }
            }

            @include md {
                &--row {
                    flex-direction: column;
                }

                &--col.left {
                    padding: 0;
                }

            }
        }

        &__get-guide {
            text-align: center;

            &--btn {
                @extend %btn;
                @extend %btn-button;
                @extend %btn-link;
                @extend %btn-yellow-shadowed;
                display: inline-block;
                width: 100%;
                padding: 35px 10px;
                max-width: 595px;
                margin: 0 auto;
                font-weight: 700;

                &.blue {
                    @extend %btn-primary;
                }

                &.green {
                    @extend %btn-green;
                }
            }
        }
    }

    .gain {
        padding-top: 45px;

        &__description {
            display: flex;
            font-size: 36px;

            .highlight {
                font-size: 1.33em;
            }

            p {
                white-space: pre-line;
                margin: 0;
            }

            &--img {
                max-width: 302px;
                margin-left: 5%;
                margin-right: 6.1%;
            }

            @include sm {
                &--img {
                    margin-left: 30px;
                    margin-right: 0;
                    max-width: 200px;
                }

                p {
                    white-space: normal;
                }
            }

            @include xs {
                text-align: center;

                &--img {
                    display: none;
                }
            }
        }

        &__limited {
            margin: 46px 0 115px;

            &--header {
                font-weight: 800;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 28px;

                span {
                    display: inline-block;
                    margin-left: 19.5px;
                    text-align: center;
                }

                @include xs {
                    flex-direction: column;

                    img {
                        max-width: 50px;
                    }

                    span {
                        margin-left: 0;
                        margin-top: 10px;
                    }
                }
            }

            &--timer {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: normal;
                font-size: 48px;

                &__item {
                    width: 181px;
                    height: 181px;
                    position: relative;
                    margin: 0 30px;
                    display: flex;

                    &::after {
                        font-size: 24px;
                        position: absolute;
                        top: calc(100% + 10px);
                        left: 50%;
                        transform: translate(-50%, 0);
                        text-transform: uppercase;
                    }

                    &.mins::after {
                        content: 'минут';
                    }

                    &.secs::after {
                        content: 'секунд';
                    }

                    @include xs {
                        font-size: 36px;
                        width: 30vw;
                        height: 30vw;

                        &::after {
                            font-size: 18px;
                        }
                    }

                    @include xxs {
                        font-size: 24px;
                    }
                }

                .base-timer__path-remaining {
                    stroke-width: 7px;
                    transform: rotate(118.39deg);
                    transform-origin: center;
                    transition: 1s linear all;

                    stroke: $main-font-color;
                    fill-rule: nonzero;
                }

                .base-timer__circle {
                    fill: transparent;
                    stroke-width: 7px;
                    stroke: $yellow-light-color;
                }

                .base-timer__svg {
                    transform: scaleX(-1);
                }

                .base-timer__label {
                    position: absolute;

                    width: 181px;
                    height: 181px;
                    top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include xs {
                        width: 30vw;
                        height: 30vw;
                    }
                }
            }

            @include xs {
                margin-bottom: 60px;
            }
        }

        &__meeting {
            margin-top: 95px;
            text-align: center;

            &--frame-wrap {
                position: relative;
                width: 100%;
                height: 0;
                margin-top: 30px;
                padding-bottom: 56.25%;

                @include sm {
                    margin-bottom: 15px;
                }
            }

            &--frame {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50px;

                @include sm {
                    border-radius: 31px
                }
            }

            @include xs {
                margin-top: 50px;
            }
        }
    }

    .lp2_form--wrapper {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .highlight {
        text-transform: uppercase;
        font-weight: 800;
    }

    .bg-enter {
        background-image: url('../img/general/bg-header.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .bg-darken {
        position: relative;

        &>* {
            position: relative;
            z-index: 2;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($main-font-color, .6);
        }
    }

    .fz-72 {
        font-size: 72px;

        @include lg {
            font-size: 64px;
        }

        @include sm {
            font-size: 48px;
        }

        @include xs {
            font-size: 36px;
        }
    }

    .fz-64 {
        font-size: 64px;

        @include lg {
            font-size: 48px;
        }

        @include sm {
            font-size: 36px;
        }

        @include xs {
            font-size: 24px;
        }
    }

    .fz-48 {
        font-size: 48px;
    }

    .fz-36 {
        font-size: 36px;

        @include lg {
            font-size: 24px;
        }

        @include sm {
            font-size: 18px;
        }
    }

    @include lg {
        font-size: 18px;
    }

    @include sm {
        font-size: 16px;
    }
}

.gain-form__additional__circle-top {
    position: absolute;
    width: 493px;
    height: 449px;
    left: 0;
    background: url('../img/general/additional-circle-form-2.svg') no-repeat center center;
    background-size: contain;
    top: 0px;
    transform: translate(-43%, 10%);
    z-index: -1;

    @include lg {
        width: 300px;
        height: 280px;
    }
    @include sm {
        width: 250px;
        height: 230px;
    }

    @include xs {
        transform: translate(-50%, -70%);
    }
}

.gain-form__additional__circle-bottom {
    position: absolute;
    width: 493px;
    height: 449px;
    right: 0;
    background: url('../img/general/additional-circle-form-2.svg') no-repeat center center;
    background-size: contain;
    bottom: 0px;
    // top: 50%;
    transform: translate(33%, 0px);
    z-index: -2;

    @include lg {
        width: 300px;
        height: 280px;
    }
    @include sm {
        display: none;
    }

}



.lp2_form__additional__circle-top {
    position: absolute !important;
    width: 269px;
    height: 449px;
    left: 0;
    background: url('../img/general/lp2-f-c1.svg') no-repeat center center;
    background-size: contain;
    top: 0px;
    transform: translate(0, 20%);
    z-index: -1;

    @include md {
        display: none;
    }
}

.lp2_form__additional__circle-bottom {
    position: absolute !important;
    width: 278px;
    height: 449px;
    right: 0;
    background: url('../img/general/lp2-f-c2.svg') no-repeat center center;
    background-size: contain;
    bottom: 0px;
    transform: translate(0, 5%);
    z-index: -2;

    @include md {
        display: none;
    }
}