#case2 {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    .lp2_header {
        padding-top: 7.85vw;
        padding-bottom: 5.56vw;
        height: 59.72vw;
        max-height: 99vh;
        text-align: center;
        display: flex;
        justify-content: center;

        background-color: rgb(112, 114, 125);

        &__container {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        h1 {
            color: #595959;
            font-size: 72px;
            text-transform: uppercase;
        }

        h2 {
            color: white;
            font-size: 64px;
            font-weight: 700;
        }
    }


    .guide-description {
        padding-top: 40px;
        padding-bottom: 90px;
        background-color: $main-font-color;
        color: white;
        text-align: center;

        &__container {
            margin: 0 auto;
            max-width: 1080px;
        }

        &__header {
            font-size: 36px;
            font-weight: 500;
            margin: 0;
        }

        &__items {
            display: flex;
            justify-content: space-between;
        }
    }

    .just-now {
        min-height: 622px;
        display: flex;
        background-color: #E2E2E2;
        padding-top: 10px;

        &__container {
            display: flex;
            justify-content: space-between;
            min-height: 100%;
        }

        &__col {
            flex: 0 1 50%;
            min-height: 100%;
        }

        &__img {
            display: flex;
            align-items: flex-end;

            img {
                width: 100%;
            }
        }

        &__text {
            margin-left: 7%;
            padding: 40px 0 60px;
            font-size: 24px;
            line-height: 1.2;
        }

        h3 {
            font-size: 64px;
            margin-bottom: 0.5em;
            font-weight: 800;
        }

        p {
            margin: 2em 0;
        }

        .highlight {
            font-size: 1.5em;
        }
    }

    .about-frank {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: $main-font-color;
        color: white;
        font-size: 24px;

        background: url('/static/img/general/lp2-fr-bg.jpg') no-repeat center center;
        background-size: cover;

        h3,
        h4 {
            text-align: center;
            margin: 0 auto;
        }

        h3 {
            font-size: 64px;
            margin-bottom: 10px;
        }

        h4 {
            font-size: 36px;
            font-weight: 400;
            max-width: 850px;
        }

        &__row {
            display: flex;
            margin-top: 50px;
        }

        &__col {
            flex: 1 0 50%;

            &.right {
                min-width: 53.22%;
                transform: translate(7.64%, -8%);
                position: relative;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                }
            }
        }

        p {
            margin: 1.5em 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .whaton {
        background-color: $main-font-color;
        color: white;
        padding-top: 121px;
        position: relative;

        &__additional-circle__left {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &__additional-circle__right {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        &__row {
            @extend %flex;
            justify-content: space-around;
        }

        &__item {
            @extend %flex-col-center;
            width: 100%;
            max-width: 30%;
            text-align: center;
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 3.7em;

            &:nth-child(2) {
                max-width: 32.12%;
            }

            &--icon {
                min-height: 95px;
                margin-bottom: 1em;
            }

            strong {
                font-weight: 800;
            }
        }

        h3 {
            font-size: 48px;
            text-align: center;
            margin-bottom: 2em;
        }
    }

    .result {
        padding-bottom: 32px;

        h3 {
            text-align: center;
            margin: 1em 0;
        }

        h4 {
            font-size: 48px;
            margin-bottom: 1.1em;
            font-weight: 700;
        }

        &__row {
            @extend %flex;
            justify-content: space-between;
            margin-bottom: 53px;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 45.76%;
            border-bottom: 1px solid $main-font-color;
            padding: 20px 0;
            font-size: 24px;

            &:nth-child(2),
            &:first-child {
                border-top: 1px solid $main-font-color;
            }

            &--icon {
                min-width: 104px;
                margin-left: 19px;
            }
        }

        &__reviews {
            margin-top: 78px;

            &--row {
                display: flex;
            }

            &--col {
                flex: 1 0 50%;

                &.left {
                    @extend %flex-col;
                    justify-content: center;
                    padding-right: 3.5em;
                    font-size: 24px;
                }
            }
        }

        &__get-guide {
            text-align: center;

            &--btn {
                @extend %btn;
                @extend %btn-button;
                @extend %btn-link;
                @extend %btn-yellow-shadowed;
                display: inline-block;
                width: 100%;
                padding: 35px 10px;
                max-width: 595px;
                margin: 0 auto;
                font-weight: 700;

                &.blue {
                    @extend %btn-primary;
                }

                &.green {
                    @extend %btn-green;
                }
            }
        }
    }

    .gain {
        padding-top: 45px;

        &__description {
            display: flex;
            font-size: 36px;

            .highlight {
                font-size: 1.33em;
            }

            p {
                white-space: pre-line;
            }

            img {
                max-width: 302px;
                margin-left: 5%;
                margin-right: 6.1%;
            }
        }

        &__limited {
            margin: 46px 0 115px;

            &--header {
                font-size: 36px;
                font-weight: 800;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 28px;

                span {
                    display: inline-block;
                    margin-left: 19.5px;
                }
            }

            &--timer {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 48px;

                &__item {
                    min-width: 181px;
                    min-height: 181px;
                    position: relative;
                    margin: 0 30px;

                    &::after {
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translate(-50%, 0);
                        font-size: 24px;
                        text-transform: uppercase;
                    }

                    &.mins::after {
                        content: 'минут';
                    }

                    &.secs::after {
                        content: 'секунд';
                    }
                }

                .base-timer__path-remaining {
                    /* Just as thick as the original ring */
                    stroke-width: 7px;

                    /* Rounds the line endings to create a seamless circle */
                    // stroke-linecap: round;

                    /* Makes sure the animation starts at the top of the circle */
                    transform: rotate(118.39deg);
                    transform-origin: center;

                    /* One second aligns with the speed of the countdown timer */
                    transition: 1s linear all;

                    /* Allows the ring to change color when the color value updates */
                    stroke: $main-font-color;
                    fill-rule: nonzero;
                }

                .base-timer__circle {
                    fill: none;
                    stroke-width: 7px;
                    stroke: $yellow-light-color;
                }

                .base-timer__svg {
                    /* Flips the svg and makes the animation to move left-to-right */
                    transform: scaleX(-1);
                }

                .base-timer__label {
                    position: absolute;

                    /* Size should match the parent container */
                    width: 181px;
                    height: 181px;

                    /* Keep the label aligned to the top */
                    top: 0;

                    /* Create a flexible box that centers content vertically and horizontally */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        &__meeting {
            margin-top: 95px;
            text-align: center;

            &--frame-wrap {
                position: relative;
                width: 100%;
                height: 0;
                margin-top: 30px;
                padding-bottom: 56.25%;

                @include sm {
                    margin-bottom: 15px;
                }
            }

            &--frame {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50px;

                @include sm {
                    border-radius: 31px
                }
            }
        }
    }

    .lp2_form--wrapper {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .highlight {
        text-transform: uppercase;
        font-weight: 800;
    }

    .bg-enter {
        background-image: url('../img/general/bg-header.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .bg-darken {
        position: relative;

        &>* {
            position: relative;
            z-index: 2;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($main-font-color, .6);
        }
    }
}

.gain-form__additional__circle-top {
    position: absolute;
    width: 493px;
    height: 449px;
    left: 0;
    background: url('../img/general/additional-circle-form-2.svg') no-repeat center center;
    background-size: contain;
    top: 0px;
    transform: translate(-43%, 10%);
    z-index: -1;

    @include sm {
        width: 250px;
        height: 230px;
    }

    @include xs {
        transform: translate(-50%, -70%);
    }
}

.gain-form__additional__circle-bottom {
    position: absolute;
    width: 493px;
    height: 449px;
    right: 0;
    background: url('../img/general/additional-circle-form-2.svg') no-repeat center center;
    background-size: contain;
    bottom: 0px;
    // top: 50%;
    transform: translate(33%, 0px);
    z-index: -2;

    @include sm {
        width: 285px;
        height: 389px;
        transform: translate(25%, 20%);
    }

    @include xs {
        bottom: -50px;
        transform: translate(40%, 20%);

    }

}



.lp2_form__additional__circle-top {
    position: absolute !important;
    width: 269px;
    height: 449px;
    left: 0;
    background: url('../img/general/lp2-f-c1.svg') no-repeat center center;
    background-size: contain;
    top: 0px;
    transform: translate(0, 20%);
    z-index: -1;
}

.lp2_form__additional__circle-bottom {
    position: absolute !important;
    width: 278px;
    height: 449px;
    right: 0;
    background: url('../img/general/lp2-f-c2.svg') no-repeat center center;
    background-size: contain;
    bottom: 0px;
    // top: 50%;
    transform: translate(0, 5%);
    z-index: -2;

}