.blog-navigation {
  position: relative;
  display: none;
  width: 100%;
  margin-bottom: 24px;
  color: #595959;
  background-color: #f4eeea;

  @include md {
    display: block;
  }
}

.blog-navigation__header {
  display: flex;
  width: 100%;
  padding: 25px 20px;
  justify-content: space-between;
}

.blog-navigation__header-burger {
  @extend %flex-center;

  img {
    width: 20px;
    height: 20px
  }

  span {
    font-weight: 700;
    display: inline-block;
    margin-left: 11px
  }
}

.blog-navigation__header-search {
  width: 30px;
  height: 30px;

  &.opened .search-closed,
  .search-opened {
    display: none;
  }

  &.opened .search-opened {
    display: block
  }
}

.blog-navigation__search {
  display: flex;
  overflow: hidden;
  max-height: 0;
  padding: 0;
  transition: all .3s ease;
  background-color: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, .15);

  &.opened {
    max-height: 2000px;
    padding: 25px 20px
  }
}

.blog-navigation__input {
  width: 100%;
  border: 0;

  &::placeholder {
    color: #595959;
  }
}

.blog-navigation__list {
  @extend %flex-col;
  overflow: hidden;
  max-height: 0;
  padding: 0;
  transition: all .3s ease;

  &.opened {
    max-height: 2000px;
    padding: 0 20px 25px
  }

  &-block:not(:last-child) {
    margin-bottom: 10px
  }

  &-item,
  &-title {
    line-height: 1.5;
    display: block;
  }
}

.blog-navigation__list-title {
  font-weight: 700
}

.blog-navigation__list-item {
  @extend %default-style;
  font-weight: 300;
}

.useful-free {
  @extend %flex-col;
  position: relative;
  overflow-x: hidden;
  max-width: 100vw;
  padding-top: 195px;

  @include md {
    padding-top: 113px;

    h1 {
      display: none;
    }
  }

  @include sm {
    padding-top: 90px;
  }
}

.useful-free__banner {
  width: 100%;
  margin-top: 45px;
  margin-bottom: 65px;
  padding: 40px 50px 45px;
  border-radius: 50px;
  background: url(../img/general/useful-banner.svg) no-repeat 90% 100%, linear-gradient(to top, #a4fa70, #a4fa70);
  background-size: auto 95%;

  @include md {
    display: none;
  }
}

.useful-free__banner-title {
  font-size: 48px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  color: #595959
}

.useful-free__banner-subtitle {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: #595959
}

.useful-free__banner-btn {
  @extend %btn-link;
  @extend %btn-primary;
  min-width: 300px;
  margin-top: 54px;
  padding: 17px 10px;
  text-align: center
}

.useful-free__content {
  display: grid;
  width: 100%;
  grid-template-columns: 254px auto;
  grid-column-gap: 48px
}

.useful-free__content {
  &:not(:last-child) {
    margin-bottom: 40px
  }

  @include md {
    grid-template-columns: 1fr;

    &.nav-title {
      display: none
    }
  }
}

.grid-start-2 {
  grid-column-start: 2
}

.useful-free__sidebar {
  @include md {
    display: none;
  }
}

.useful-free__sidebar-container {
  margin-bottom: 65px;
  padding-top: 29px;
  border-radius: 37px;
  background: rgba(244, 238, 234, .5)
}

.useful-free__sidebar-tags {
  padding-right: 20px;
  padding-left: 34px
}

.useful-free__sidebar-tag__title {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1em;
  text-transform: uppercase
}

.useful-free__sidebar-tag__link {
  @extend %default-style;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin-bottom: 1.5em;
  transition: all .2s ease-out;

  &.active,
  &:hover {
    text-decoration: underline;
  }

  &:first-child {
    font-weight: 700;
    margin-top: 0
  }
}

.useful-free__sidebar-promo-item {
  position: relative;
  width: 100%;
  color: #fff;
  border-radius: 30px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, .5)
  }

  @include sm {
    font-size: 14px;
  }

  @include xs {
    margin-bottom: 30px;
  }
}

.useful-free__sidebar-promo-item__col {
  position: relative;
  z-index: 2;

  &.left {
    padding: 35px 25px 28px 32px;
    flex-grow: 1
  }

  &.right {
    @extend %flex-center;
    padding: 35px 32px;
    border-top: 1px solid #fff;
    justify-content: center
  }
}

.useful-free__sidebar-promo-item__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1em;
  color: #fae870;

  @include sm {
    font-size: 18px;
  }
}

.useful-free__sidebar-promo-item__btn {
  @extend %btn;
  @extend %btn-link;
  @extend %btn-md;
  font-size: 14px;
  width: calc(100% - 36px);
  padding-right: 1em;
  padding-left: 1em;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;

  @include md {
    font-size: 24px;
  }

  @include sm {
    font-size: 18px;
  }
}

.useful-free__sidebar-btns {
  text-align: center
}

.useful-free__sidebar-btns__item {
  @extend %btn-link;
  @extend %btn-primary;
  @extend %btn-sm;
  width: 100%;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0
  }
}

.useful-free__nav {
  margin-bottom: 48px;
  padding: 26px 30px 30px 20px;
  color: #fff;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background: #c4c4c4;

  @include md {
    display: none;
  }
}

.useful-free__nav-title {
  font-size: 36px;
  margin: 0;
  text-align: center
}

.useful-free__nav-searchform {
  display: flex;
  width: 100%;
  margin-bottom: 11px;
  justify-content: space-between;
  align-items: center;

  input {
    min-height: 69px;
    padding-left: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    background: #fff;
    flex: 1
  }
}

.useful-free__nav-searchbtn {
  min-width: 30px;
  height: 30px;
  margin-left: 26px;
  padding: 0;
  border: 0;
  background: 0 0
}

.useful-free__nav-taglist__item {
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  color: #4a4a49;

  &.active,
  &:hover {
    color: #fff;
  }

  &:not(:last-child) {
    margin-right: 26px;
  }
}

.useful-free__row-wrap {
  width: 100%
}


.useful-free__items-item {
  width: 100%;
  padding: 36px 20px 40px 40px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 15px 15px 15px 5px rgba(0, 0, 0, .05);
  filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, .25));

  @include md {
    border: 1px solid #f4eeea;
  }

  @include xs {
    padding: 16px 24px 30px;
    border-radius: 31px;
  }
}

.useful-free__items-item:not(:last-child) {
  margin-bottom: 50px;

  @include xs {
    margin-bottom: 26px;
  }
}

.useful-free__items-item__container {
  display: flex;

  @include sm {
    flex-direction: column;
  }
}

.useful-free__items-item__img-wrap {
  overflow: hidden;
  min-width: 56.48%;
  max-width: 56.48%;
  border-radius: 61px;
  justify-content: center;

  @include md {
    max-width: 100%;
    border-radius: 28px
  }
}

.useful-free__items-item__text {
  @extend %flex-col;
  padding-left: 22px;
  justify-content: space-between;
  flex: 1;

  p {
    margin: 0;
  }

  @include sm {
    position: relative;
    padding-top: 10px;
    padding-left: 0;

    p {
      margin-top: 20px;
    }
  }
}

.useful-free__items-item__socials {
  display: flex;

  @include sm {
    position: absolute;
    right: 0;
    bottom: 0
  }
}

.useful-free__items-item__link {
  min-width: 39px;
  max-width: 39px;
  height: 39px;
  margin-right: 17px;

  svg {
    width: 100%;
    height: auto;
  }

  &:hover path {
    fill: #2bbd70 !important
  }

  @include xs {
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    margin-right: 10px
  }
}

.useful-free__items-item__text__category {
  font-weight: 500;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 5px 20px;
  color: #fff;
  border-radius: 10px;
  background-color: #c4c4c4;

  &:not(:last-child) {
    margin-right: 27px;
  }

  &.desktop {
    margin-bottom: 28px;
  }

  &.mobile {
    display: none
  }

  @include sm {
    &.desktop {
      display: none;
    }

    &.mobile {
      display: inline-block;
    }
  }
}

.useful-free__items-item__text__title {
  @extend %default-style;
  font-size: 36px;
  font-weight: 700;
  display: block;
  margin-bottom: 32px;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  text-align: center;

  &:hover {
    opacity: .6
  }

  @include xs {
    font-size: 32px;
  }
}

.useful-free__items-item__more {
  font-weight: 700;
  display: inline-block;
  margin-top: 20px;
  text-transform: uppercase;
}


.useful-free__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include sm {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.useful-free__pagination-item {
  display: flex;
  min-width: 80px;
  height: 80px;
  transition: all .2s ease-out;
  text-decoration: none;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  img {
    max-width: 27px
  }

  &.active,
  &:hover {
    color: #fff;
    background: #c4c4c4;
  }

  @include sm {
    min-width: 46px;
    height: 46px;
    margin-right: 11px;
    margin-bottom: 10px;

    img {
      max-width: 22px
    }
  }
}

.useful-free__additional-triangle-pink {
  position: absolute;
  top: 557.36px;
  left: 0;
  width: 178.75px;
  height: 228.12px;
  transform: translateX(-40%);
  background: url(../img/general/additional-circle-form-2.svg) no-repeat;
  background-size: contain;

  @include md {
    display: none;
  }
}

.useful-free__additional-circle-pink {
  position: absolute;
  z-index: -1;
  top: 13px;
  right: 0;
  width: 355.99px;
  height: 389.56px;
  transform: translateX(28%);
  background: url(../img/general/additional-circle-form-3.svg) no-repeat;
  background-size: contain;

  @include md {
    display: none;
  }
}